<!DOCTYPE html>
<html>

<head>
    <title>Admin Homepage</title>
</head>

<body>
    <h1>Welcome to the Admin Homepage</h1>
    <p>You are logged in as an admin.</p>
    <form method="POST" action="/admin/logout?_method=DELETE">
        <button type="submit">Logout</button>
    </form>
    <a href="/admin/AddDetails">
        <button type="button">Add Details</button>
    </a>
</body>

</html>