<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Details</title>
  <link rel="stylesheet" href="../../css/admin/css/CompanyDetails.css">
  <script src="https://kit.fontawesome.com/970c139854.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="split left">
    <div>
      <form class="menubar" method="post" action="/admin/logout?_method=DELETE">
        <nav>
          <button type="submit" class="logout"><i class="fa-solid fa-sign-out"></i></button>
        </nav>
      </form>
    </div>

    <h1 class="heading" id="title">COMPANY REGISTRATION</h1>
    <div class="centered1">
      <form method="post" action="/admin/AddDetails">
        <div class="input-group">
          <div class="input-field" id="addressField">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            <input type="text" placeholder="ADDRESS" required>
          </div>


          <div class="input-field">
            <i class="fa fa-city"></i>
            <input type="email" placeholder="STATE" required>
          </div>

          <div class="input-field">
            <i class="fa fa-location"></i>
            <input type="text" placeholder="LOCATION" required>
          </div>

          <div class="input-field" id="maxbooking">
            <i class="fa fa-book"></i>
            <input type="number" placeholder="MAXIMUM NUMBER OF BOOKINGS PER DAY" required>
          </div>

          <button type="submit" class="btn">SUBMIT</button>
        </div>
      </form>

      <form action="upload.php" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="imgbtn">Select an image:</label>
        <input type="file" id="imageUpload" name="image" accept="image/*">
        <input type="submit" value="Upload Image">
      </form>
    </div>
  </div>

  <div class="split right">
    <div class="centered2">
      <h1 class="headitem">SELECT THE EVENTS</h1>

      <input type="checkbox" id="check1" class="check">BIRTHDAY
      <input type="checkbox" id="check2" classs=check2>WEDDING
      <input type="checkbox" id="check3" classs=check>BAPTISM
      <input type="checkbox" id="check4" classs=check>FUNERAL
      <input type="checkbox" id="check5" classs=check>HOLY COMMUNION
      <input type="checkbox" id="check6" classs=check>FESTIVE EVENTS
      <input type="checkbox" id="check7" classs=check>ANNIVERSARY




    </div>
  </div>
</body>

</html>