<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/login/home.css">
  <title>Home</title>
</head>
<body>

  <!-- Navigation Bar-->
  <nav>
    <div class="left-header">

      <div>
       <a href="../intro.html"><img class="logo" src="/login/eventuate-logo.png" alt=""></a> 
      </div>

    </div>

    <div class="middle-header">

      <div>
        <input class="search-bar" type="text" placeholder="events">
      </div>
      <div style="margin-left: -13px;">
        <img class="search-icon" src="/login/search-icon.png" alt="">
      </div>

    </div>

    <div class="right-header">

      <div>
        <img class="event-cart" src="/login/event-cart.png" alt="">

      </div>

      <div class="account-info">

        <p class="account-name">Muhammed Razal AK</p>

      </div>

      <div>
        <img class="account-img" src="/login/account.png" alt="">
      </div>

    </div>

  </nav>

  <!--Left Bar-->

  <div class="left-bar">

    <div class="filter-box">
      <h1 class="filter-box-heading">FILTER</h1>
      
      

      <button class="rating-button">Rating</button>
      <div class="rating-filter">
        <p>5&#11088;<input type="checkbox" name="Rating"></p>
        <p>4&#11088;<input type="checkbox" name="Rating"></p>
        <p>3&#11088;<input type="checkbox" name="Rating"></p>
        <p>2&#11088;<input type="checkbox" name="Rating"></p>
        <p>1&#11088;<input type="checkbox" name="Rating"></p>
      </div>

      

      <button class="price-button">Price</button>
      <div class="price-filter">
        <p>50000.$<input type="checkbox" name="Rating"></p>
        <p>25000.$<input type="checkbox" name="Rating"></p>
        <p>10000.$<input type="checkbox" name="Rating"></p>
        <p>5000.0$<input type="checkbox" name="Rating"></p>
        <p>2000.0$<input type="checkbox" name="Rating"></p>
      </div>

    </div>

    

  </div>

  <!--Suggestion Box-->

  <div class="suggestions">

    <div class="suggestion-card">
      
      <img class="lazy" src="/login/team-images/Team C.jpg" alt="">

      <p> Rating 5&#11088; </p>
      
    </div>

    <div class="suggestion-card">

      <img class="lazy" src="/login/team-images/Team D.jpg" alt="">

      <p> Rating 5&#11088; </p>
    </div>

    <div class="suggestion-card">

      <img class="lazy" src="/login/team-images/Team B.jpg" alt="">

      <p> Rating 5&#11088; </p>
    </div>

  </div>


  <!--Main Card Grid-->
  <div class="main-card-grid">

  </div>


    


  <script type="module" src="/login/home.js"></script>
  
</body>
</html>