<!DOCTYPE html>
<html lang="en">


  <head>

<!--metadata-->

     <meta charset="UFT-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--linking to css-->

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

    <link rel="stylesheet" href="/css/login/introstyle.css">
    <!--title-->
     
    <title>
     
      EVENTUATE.com

</title>

</head>


<!--body of page-->

  <body>

     <div class="css-container js-container">
     
        <div class="css-containerleft js-containerleft">

<!--heading of website-->    
            <div>
            <p class="css-logo js-logo">EVENTUATE</p>

<!--tagline of website-->

               <p class="css-tagline js-tagline">memories worth spreading...</p>

<!--small intro of website-->

                  <p class="css-welcometag js-welcometag">Are you ready to transform the way you plan and organize your special events? Look no further than EVENTUATE, your gateway to hassle-free and unforgettable celebrations.</p>
             </div>
                
            </div>

<!--login button-->

        <button class="css-login"><a href="/login" >login</a></button>

<!--why us button-->

         <p class="css-whyus"><a href="#about">MORE INFO</a></p>
         <p class="arrow"><a href="#about"><i class="fa fa-angle-down"></i></a></p>

<!--menu buttons-->
      <div class="menu">

        <nav>

<a href="#home" id="home"><button class="css-button css-home js-button"><i class="fa fa-home"></i>HOME</button></a>
<a href="#about"><button class="css-button  css-about js-button"><i class="fa fa-bookmark"></i>ABOUT</button></a>
<a href="#contact"><button class="css-button css-contact js-button"><i class="fa fa-phone"></i>CONTACT</button></a>

        </nav>

      </div>



     </div>

     <div class="about">
      <p class="css-headintro" id="about">WELCOME TO THE WORLD OF EVENTUATE</p>
      <div class="detail">


      <p><i>Are you ready to transform the way you plan and organize your special events? Look no further than EventManager.com, your gateway to hassle-free and unforgettable celebrations</i></p>


        <p><i>  
        In a world where every moment counts, EventManager.com has emerged as the ultimate online platform dedicated to making event planning a breeze. Whether you're orchestrating a grand wedding, a heartfelt funeral, a joyful baptism, or an exciting birthday party, our platform brings together event managing teams and clients, creating a seamless and efficient experience.</i></p>


      </div>



      <p class="showmore"><i class="fa fa-angle-down"></i></p>
     </div>

     <div class="about about1">

      <p class="css-headintro">WHY CHOOSE EVENTUATE?</p>

      <div class="detail">

        <p><i>At Eventuate, we understand that every event is unique, and so are your expectations. Our platform offers a multitude of benefits for both event managing teams and clients:</i></p>


        <p><i>For Event Managing Teams:</i></p>


        <ul type="circle"><li><i>Booking:Receive and manage bookings directly through the platform, saving you time and effort.</i></li>


        <li><i>Exposure:Showcase your talents, services, and competitive rates to a wide audience.</i></li>

        <li><i>Reputation:Build trust with clients by displaying ratings and reviews from satisfied customers.
        </i></li>

<p><i>For Clients:</i></p>
<li><i>Simplified Search:Easily find event managing teams that match your specific needs, location, and budget.</i></li>
<li><i>Informed Choices:Make decisions based on real experiences, thanks to our ratings and reviews feature.</i></li>
<li><i>Direct Communication:Connect with teams seamlessly and discuss your event requirements</i></li>
        </ul>
        <p class="showmore showmore1"><i class="fa fa-angle-down"></i></p>

      </div>


     </div>

     <div class="about about2">
      <p class="css-headintro">JOIN US IN CREATING UNFORGETTABLE MOMENTS</p>
      <div class="detail">


      <p><i>EVENTUATE is more than just a website; it's a dynamic community of event enthusiasts, creators, and visionaries. We are committed to turning your dreams into reality and helping event managing teams thrive in their craft.</i></p>


        <p><i>  
        Discover the future of event planning with EVENTUATE. Join us today and experience the magic of creating memorable moments, one event at a time.</i></p>

      </div>

     <!--<img class="css-icon" src="icon.jpeg">-->
     <footer class="footer">
      <div class="copy">© 2022 EVENTUATE</div>
      <div class="bottom-links">
        <div class="links" id="contact">
          <span>Contact</span>
          <a href="#e-mail"><i class="fa fa-envelope"></i> eventuate@gmail.com</a>
          <a href="#facebook"><i class="fa fa-facebook-square"></i>Eventuate</a>
          <a href="#instagram"><i class="fa fa-instagram"></i>Eventuate</a>
          <a href="#whatsapp"><i class="fa fa-whatsapp"></i>9898989898</a>

        </div>
      </div>
    </footer>

 </body>

</html>