<form action="/upload" method="post" enctype="multipart/form-data">
  <label class="form-label" for="compname">Company Name</label>
  <input type="text" class="form-control" id="compname" name="compname" required />

  <label class="form-label" for="customFile">Upload Image</label>
  <input type="file" class="form-control" id="customFile" name="image" required />

  <button type="submit">Submit</button>
</form>
